body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:845px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:160px;
  width:1325px;
  height:845px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:48px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:20px;
  width:317px;
  height:48px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:49px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:1326px;
  height:49px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:1326px;
  height:44px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1322px;
  word-wrap:break-word;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:282px;
  width:362px;
  height:122px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:423px;
  width:175px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u505_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u505.mouseOver {
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:423px;
  width:175px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u506_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u506.mouseOver {
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:482px;
  width:175px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u507_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u507.mouseOver {
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:482px;
  width:175px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u508_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u508.mouseOver {
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:151px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1025px;
  width:693px;
  height:151px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:72px;
  width:50px;
  height:39px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:72px;
  width:24px;
  height:24px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:82px;
  width:54px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:82px;
  width:49px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:82px;
  width:58px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:1276px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:1276px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:623px;
  width:1322px;
  word-wrap:break-word;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:1042px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:630px;
  height:1042px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:82px;
  width:49px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:82px;
  width:58px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:126px;
  width:501px;
  height:80px;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:157px;
  width:53px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:232px;
  width:501px;
  height:120px;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:283px;
  width:77px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:373px;
  width:501px;
  height:120px;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:424px;
  width:69px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:518px;
  width:501px;
  height:120px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:569px;
  width:48px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:122px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:372px;
  width:163px;
  height:122px;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:96px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:244px;
  width:128px;
  height:96px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:94px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:531px;
  width:127px;
  height:94px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:131px;
  width:101px;
  height:71px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:72px;
  width:39px;
  height:39px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
