p {
  color:white;
  font-family: 'Knewave', cursive;
  font-size: 300px;
  text-align: center;
  color: white;
  margin: 0px;
}

html { 
  background: url(pug.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  overflow: hidden;
}

*  {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}