

.active a {
  /*background: #f7f7f7;*/
  /*font-weight: bold;*/
  /*border-bottom: 3px solid orange;*/
  opacity: 1;
  /*font-weight: bold;*/
  border-bottom: 2px solid black;
}

.nav-link {
  opacity: 0.7;
  letter-spacing: 0.3px;
  /*font-weight: bold;*/
  padding: 0 !important;
  margin: 10px 10px;
}

.cat {
	position: relative;
  text-transform: uppercase;
  font-size: 14px;
}

.cat:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    border-top: 1px solid #212529;
    z-index: -1;
}

.cat span {
    background-color: white;
    padding-right: 10px;
}

.nav-link {
  font-family:'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

h1, h2, .navbar-brand {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

p, ul {
	font-family: 'Georgia', sans-serif;	
  font-size: 20px;
  line-height: 32px;
  /*color: blue;*/
}


.bg-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%), url("https://via.placeholder.com/800x1000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    border-radius: 3px;
}

img {
	border-radius: 3px;
}

/*.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}*/