body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:311px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:151px;
  width:877px;
  height:311px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:48px;
  width:437px;
  height:93px;
  font-size:18px;
  color:#0000FF;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  word-wrap:break-word;
}
