body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:845px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:160px;
  width:1325px;
  height:845px;
}
#u1988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:48px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:20px;
  width:317px;
  height:48px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:49px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:1326px;
  height:49px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:1326px;
  height:44px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1322px;
  word-wrap:break-word;
}
#u1992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:282px;
  width:362px;
  height:122px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u1992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:423px;
  width:175px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1993_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1993.mouseOver {
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:171px;
  word-wrap:break-word;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:423px;
  width:175px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1994_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1994.mouseOver {
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:171px;
  word-wrap:break-word;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:493px;
  width:175px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1995_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1995.mouseOver {
}
#u1995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:171px;
  word-wrap:break-word;
}
#u1996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:493px;
  width:175px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1996_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1996.mouseOver {
}
#u1996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:171px;
  word-wrap:break-word;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:500px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1684px;
  width:1325px;
  height:500px;
}
#u1997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:250px;
  background:inherit;
  background-color:rgba(33, 44, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1434px;
  width:1325px;
  height:250px;
}
#u1998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1475px;
  width:362px;
  height:122px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:362px;
  word-wrap:break-word;
}
#u2000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:500px;
  background:inherit;
  background-color:rgba(238, 226, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2293px;
  width:1326px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:500px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2293px;
  width:667px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:2428px;
  width:320px;
  height:172px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u2002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:2610px;
  width:320px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  word-wrap:break-word;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:3134px;
  width:300px;
  height:132px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:500px;
  background:inherit;
  background-color:rgba(218, 223, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2793px;
  width:1326px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:2932px;
  width:320px;
  height:122px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u2007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:500px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:2793px;
  width:604px;
  height:500px;
}
#u2008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:3106px;
  width:320px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  word-wrap:break-word;
}
#u2010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:500px;
  background:inherit;
  background-color:rgba(238, 226, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3293px;
  width:1326px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:500px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3293px;
  width:667px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:3428px;
  width:320px;
  height:172px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u2012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:3610px;
  width:320px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  word-wrap:break-word;
}
#u2014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:188px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4107px;
  width:1326px;
  height:188px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:67px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:4197px;
  width:583px;
  height:67px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u2015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:1625px;
  width:175px;
  height:60px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:171px;
  word-wrap:break-word;
}
#u2017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2184px;
  width:1326px;
  height:109px;
}
#u2017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:95px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:2193px;
  width:1007px;
  height:95px;
}
#u2018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:4135px;
  width:35px;
  height:35px;
}
#u2019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:314px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3793px;
  width:1326px;
  height:314px;
}
#u2020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:4135px;
  width:35px;
  height:35px;
}
#u2021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:4135px;
  width:35px;
  height:35px;
}
#u2022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:209px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:3836px;
  width:1106px;
  height:209px;
}
#u2023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1005px;
  width:1325px;
  height:429px;
}
#u2024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-weight:800;
  font-style:normal;
  font-size:30px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:1047px;
  width:299px;
  height:37px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-weight:800;
  font-style:normal;
  font-size:30px;
}
#u2025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u2026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1317px;
  width:137px;
  height:22px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:161px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1135px;
  width:215px;
  height:161px;
}
#u2027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1343px;
  width:212px;
  height:19px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u2029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:152px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1144px;
  width:203px;
  height:152px;
}
#u2029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:1317px;
  width:150px;
  height:22px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:1343px;
  width:212px;
  height:19px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u2032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:1152px;
  width:144px;
  height:144px;
}
#u2032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:1317px;
  width:180px;
  height:22px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u2034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:1339px;
  width:212px;
  height:19px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
