body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:605px;
  width:402px;
  height:238px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:765px;
  width:353px;
  height:53px;
}
#u601_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:53px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u601_input:disabled {
  color:grayText;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:624px;
  width:338px;
  height:22px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:71px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:653px;
  width:218px;
  height:71px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:201px;
  width:300px;
  height:19px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-weight:800;
  font-style:normal;
  font-size:24px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:254px;
  width:402px;
  height:29px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-weight:800;
  font-style:normal;
  font-size:24px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:284px;
  width:402px;
  height:24px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:345px;
  width:402px;
  height:1px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1115px;
  width:268px;
  height:132px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:500px;
  background:inherit;
  background-color:rgba(218, 223, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:967px;
  width:1326px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:500px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:967px;
  width:670px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1156px;
  width:343px;
  height:122px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:106px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2853px;
  width:1326px;
  height:106px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:856px;
  width:402px;
  height:61px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:398px;
  word-wrap:break-word;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:500px;
  background:inherit;
  background-color:rgba(238, 226, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1467px;
  width:1326px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:500px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1467px;
  width:667px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:1631px;
  width:318px;
  height:172px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:734px;
  width:314px;
  height:22px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#C2002F;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:311px;
  width:115px;
  height:20px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#C2002F;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:111px;
  word-wrap:break-word;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 0, 47, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#C2002F;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:311px;
  width:133px;
  height:20px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#C2002F;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:129px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:48px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:20px;
  width:317px;
  height:48px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:49px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:1326px;
  height:49px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:573px;
  width:73px;
  height:73px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:321px;
  width:73px;
  height:73px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:405px;
  width:73px;
  height:73px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:489px;
  width:73px;
  height:73px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:237px;
  width:73px;
  height:73px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:239px;
  width:402px;
  height:17px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:670px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:238px;
  width:530px;
  height:670px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:249px;
  width:142px;
  height:50px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:378px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2465px;
  width:1326px;
  height:378px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:2581px;
  width:172px;
  height:211px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:28px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:2512px;
  width:402px;
  height:34px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:28px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:2589px;
  width:150px;
  height:150px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:2743px;
  width:150px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:2581px;
  width:172px;
  height:211px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:2589px;
  width:150px;
  height:150px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:2581px;
  width:172px;
  height:211px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:2589px;
  width:150px;
  height:150px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:2764px;
  width:150px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:2743px;
  width:150px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:2764px;
  width:150px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:2743px;
  width:138px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:2764px;
  width:138px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:2581px;
  width:172px;
  height:211px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:2589px;
  width:150px;
  height:150px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:2743px;
  width:150px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:2764px;
  width:143px;
  height:18px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:656px;
  width:73px;
  height:73px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:675px;
  width:35px;
  height:35px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:67px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:2873px;
  width:583px;
  height:67px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:363px;
  width:402px;
  height:228px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:429px;
  width:351px;
  height:77px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:429px;
  width:54px;
  height:77px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:559px;
  width:200px;
  height:19px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:2px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:2556px;
  width:1101px;
  height:1px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:546px;
  width:402px;
  height:1px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:555px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  word-wrap:break-word;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:382px;
  width:338px;
  height:44px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:2307px;
  width:300px;
  height:132px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:500px;
  background:inherit;
  background-color:rgba(218, 223, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1966px;
  width:1326px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:2105px;
  width:320px;
  height:122px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:1326px;
  height:44px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1322px;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:500px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1966px;
  width:604px;
  height:500px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
