.circle-illu {
    /*border-radius:500px;*/
    height:256px;
    width: 256px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    /*border: 1px solid #333333;*/
    /*text-align: center;π*/
    /*display: table-cell;*/
}

@media (max-width: 800px) {
	.map {
		width: 100%;
		height: 350px; 
	}
}

@media (min-width: 801px) {
	.map {
		width: 500px;
		height: 400px; 
	}
}

.map {
	padding: 0px 20px;
	padding-bottom: 40px;
}

div:focus {
	outline: 0;
}

.title {
	font-weight: bold;
	font-size: 18px;
}

p {
	font-size: 17px;
}

.send:hover {
	opacity: 0.9;
}

/*.nav-link {
	pad
}*/

h3 {
	font-family: 'Permanent Marker', cursive;
	font-size: 42px;
}