body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:500px;
  background:inherit;
  background-color:rgba(218, 223, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:1326px;
  height:500px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:615px;
  width:125px;
  height:51px;
  color:#000000;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:694px;
  width:366px;
  height:275px;
  color:#000000;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:969px;
  width:366px;
  height:212px;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:1108px;
  width:254px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u1069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:997px;
  width:361px;
  height:88px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:499px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:114px;
  width:670px;
  height:499px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:272px;
  width:343px;
  height:185px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:694px;
  width:366px;
  height:275px;
  color:#000000;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:694px;
  width:366px;
  height:275px;
  color:#000000;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:694px;
  width:366px;
  height:275px;
  color:#000000;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:694px;
  width:366px;
  height:275px;
  color:#000000;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:481px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:694px;
  width:366px;
  height:481px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:481px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:694px;
  width:366px;
  height:481px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:206px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:969px;
  width:366px;
  height:206px;
  opacity:0.75;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1102px;
  width:254px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u1081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:991px;
  width:361px;
  height:88px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u1082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:1108px;
  width:254px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:997px;
  width:361px;
  height:88px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u1084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1494px;
  width:366px;
  height:212px;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:1633px;
  width:254px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u1086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1522px;
  width:361px;
  height:88px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:275px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1219px;
  width:366px;
  height:275px;
}
#u1087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:106px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1823px;
  width:1326px;
  height:106px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:67px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1843px;
  width:583px;
  height:67px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:48px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:17px;
  width:317px;
  height:48px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:49px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1326px;
  height:49px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:1494px;
  width:366px;
  height:212px;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1633px;
  width:254px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u1094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:1522px;
  width:361px;
  height:88px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:1494px;
  width:366px;
  height:212px;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:1633px;
  width:254px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1522px;
  width:361px;
  height:88px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u1098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:275px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:1219px;
  width:364px;
  height:275px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:275px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1219px;
  width:364px;
  height:275px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:481px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:694px;
  width:366px;
  height:481px;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:969px;
  width:366px;
  height:206px;
  opacity:0.75;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:1102px;
  width:254px;
  height:49px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u1104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:991px;
  width:361px;
  height:88px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u1105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:1239px;
  width:450px;
  height:450px;
  font-size:20px;
  text-align:left;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:1239px;
  width:450px;
  height:450px;
  font-size:20px;
  text-align:left;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:450px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:1239px;
  width:427px;
  height:450px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:1239px;
  width:450px;
  height:450px;
  opacity:0.75;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1356px;
  width:316px;
  height:132px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:51px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:1508px;
  width:137px;
  height:51px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:133px;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:445px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:1243px;
  width:450px;
  height:445px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:1239px;
  width:450px;
  height:450px;
  opacity:0.75;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:1880px;
  top:1356px;
  width:316px;
  height:132px;
  font-family:'Montserrat-ExtraBold', 'Montserrat ExtraBold', 'Montserrat';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:316px;
  word-wrap:break-word;
}
#u1114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:51px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:1969px;
  top:1511px;
  width:137px;
  height:51px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:133px;
  word-wrap:break-word;
}
