body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1192px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:44px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:226px;
  height:44px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:39px;
  background:inherit;
  background-color:rgba(196, 30, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1192px;
  height:39px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:143px;
  width:140px;
  height:16px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:366px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:210px;
  width:349px;
  height:366px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:226px;
  width:345px;
  height:28px;
  font-size:24px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#C41E3A;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:210px;
  width:345px;
  height:16px;
  font-size:14px;
  color:#C41E3A;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#4FB2CE;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:254px;
  width:345px;
  height:23px;
  font-size:20px;
  color:#4FB2CE;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:287px;
  width:345px;
  height:1px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:298px;
  width:345px;
  height:99px;
  font-size:14px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:407px;
  width:345px;
  height:74px;
  font-size:14px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:59px;
  background:inherit;
  background-color:rgba(196, 30, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:517px;
  width:345px;
  height:59px;
  color:#FFFFFF;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:341px;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:59px;
  background:inherit;
  background-color:rgba(114, 135, 145, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:730px;
  width:787px;
  height:59px;
  color:#FFFFFF;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:783px;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:619px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:840px;
  width:787px;
  height:619px;
  font-size:14px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:667px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:586px;
  width:80px;
  height:80px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:586px;
  width:80px;
  height:80px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:586px;
  width:80px;
  height:80px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:586px;
  width:80px;
  height:80px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
