/*<style>*/
* {
  font-family: Lato;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

}

h2 {
  margin: 20px 0px;
  font-weight: 700;
  font-size: 17px;
}

p {
  margin: 20px 0px;
}

@media (max-width: 899px) {
  p {
    font-size: 16px;
  }
  .text-left-div {
    margin-top: 20px;
  }
  .text-right-div {
    margin-top: 20px;
  }
  .three-blocks {
    margin-top: 20px;
  }
  .large-title {
    font-size: 28px;
  }
  .large-paragraph {
    font-size: 18px;
  }
  .product-name {
    font-size: 35px;
  }
}

@media (min-width: 900px) {
  .large-paragraph {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .product-image {
    margin-top: 80px;
  }
  .text-left {
    display: flex;
  }
  .text-right {
    display: flex;
  }

  .image-right-div {
    order: 1;
  }

  .text-right-div {
    display: table;
      height: 400px;
      overflow: hidden;
      margin: 0em 70px;
  }

  .text-right-div-center {
    display: table-cell;
    vertical-align: middle;
  }

  .text-left-div {    
    display: table;
      height: 400px;
      overflow: hidden;
      margin: 0em 70px;
  }

  .text-left-div-center {
    display: table-cell;
    vertical-align: middle;
  }

  .three-blocks {
    display: flex;
    padding: 2em 0em;
  }
  .text-right-div {
    max-width: 600px;
  }
  .text-left-div {
    max-width: 600px;
  }

  .product-option-div {
    max-width: 350px;
  }
  .block {
    width: 33.33%;
  }
  .large-title {
    font-size: 35px;
  }
  .product-name {
    font-size: 45px;
  }
}

.block-title {
  font-weight: 700;
  font-size: 20px;
}

.text-right-div {
  text-align: center;
}

.text-left-div {
  text-align: center;
}

.image-left-div {
  text-align: center;
}

.image-right-div {
  text-align: center;
}

/*.image-left-div img, .image-right-div img {
	box-shadow: 5px 5px 5px #dcdcdc;
} */

.block {
  text-align: left;
  margin: 0em 20px;
}

.section {
  max-width: 1000px;
  margin: 0 auto; 
  padding: 2em 1.5em;
}

.centered {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.image-right-div {
}

.image-left-div img {
  width: 100%;
}

.image-right-div img {
  width: 100%;
}

.action-button {
  background: #c2002f;
  color: white;
  padding: 15px;
  max-width: 220px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 1em;
}

.product-option-div {
  background: #357a41;
  text-align: center;
  padding: 8px 0px;
  margin: 0 auto;
  margin-bottom: 1em;
  /*box-shadow: 5px 5px 5px #dcdcdc;*/
  cursor: pointer;
  border: 2px solid #357a41;
  border-radius: 5px;
}

.product-option-div:hover {
  /*border: 2px solid #c2002f;*/
  opacity: 0.5;
}

.product-option-div p {
  margin: 12px 0px;
}

.accordion-div {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 0em;
}

.accordion {
  background-color: #E5E5E5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
/*  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;*/
}

.accordion-inline {
  background: 0;
  border: 0;
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-size: 16px;
  text-align: left;
  text-decoration: underline;
  margin-bottom: 16px;
}

.accordion-inline:after {
  content: ">"; /* Unicode character for "plus" sign (+) */
  font-size: 16px;
  color: #333333;
  margin-left: 5px;
  text-decoration: none;
}

.accordion-inline:focus {
  outline: none;
}

.panel-inline {
  background: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.panel-inline p {
  margin-top: 0px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.active-inline:after {
  content: "<"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel p,
.panel ul {
  font-size: 15px;
  margin-top: 1em;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.product-strength {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.product-breakdown {
  color: white;
  font-size: 13px;
}

.product-quantity {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
  padding-bottom: 5px;
border-bottom: 4px dotted black;
max-width: fit-content;
margin: 0 auto;
}

.product-name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.small-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 4px dotted black;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 10px;
}

.large-title {
  text-transform: uppercase;
  font-weight: 800;
}

.large-paragraph {
  margin: 20px 0px;
}

.medium-paragraph {
  font-size: 18px;
}

.product-image {
  max-width: 600px;
  box-shadow: none !important
}

.text-right-div-center {
  text-align: left;
}

.text-left-div-center {
  text-align: left;
}

.left {
  text-align: left;
}

	.trust-icons-div {
		display: flex;
		max-width: 350px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.trust-icon-block {
		width: 33.33%;
		text-align: center;
		padding: 0em 5px;
	}
	.trust-icon-image {
		height: 25px;
		opacity: 0.8;
	}
	.trust-icon-text {
		font-size: 12px;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

		.cta-banner-div {
		background: #367a41;
	}
	.cta-banner-copy-div {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.cta-banner-button {
		border: 1px solid white;
		border-radius: 5px;
		max-width: 250px;
		margin: 0 auto;
		text-align: center;
		padding: 15px;
		color: white;
		font-weight: 700;
		font-size: 18px;
		cursor: pointer;
	}

	.cta-banner-button:hover {
		opacity: 0.5;
	}
	.cta-banner-text {
		text-align: center;
		color: white;
		font-weight: bold;
		font-size: 16px;
		padding: 0em 1em;
	}

  .benefits {
    /*color: #007cde;*/
  }
  /*</style>*/