body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:48px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:20px;
  width:317px;
  height:48px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:49px;
  background:inherit;
  background-color:rgba(194, 0, 47, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:1326px;
  height:49px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:82px;
  width:99px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:82px;
  width:49px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:82px;
  width:72px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:782px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:1326px;
  height:782px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:1322px;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:1276px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:1276px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:623px;
  width:1322px;
  word-wrap:break-word;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:1042px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:630px;
  height:1042px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:126px;
  width:501px;
  height:120px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:177px;
  width:143px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:267px;
  width:501px;
  height:120px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:318px;
  width:101px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:140px;
  width:150px;
  height:92px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:281px;
  width:150px;
  height:92px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:426px;
  width:501px;
  height:80px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:457px;
  width:46px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:405px;
  width:501px;
  height:1px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:67px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:433px;
  width:85px;
  height:67px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:72px;
  width:39px;
  height:39px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:82px;
  width:84px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:82px;
  width:49px;
  height:19px;
  font-family:'Montserrat-SemiBold', 'Montserrat SemiBold', 'Montserrat';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
